{"outTemp": {"unit_label": "$unit.label.outTemp", 
    "value": "$current.outTemp.nolabel("%d","N/A")"}, 
"timestamp": "$current.dateTime.format("%Y-%m-%dT%H:%M:%S")", 
"windDir": {"unit_label": "", 
    "value": "$current.windDir.ordinal_compass"}, 
"pressure": {"unit_label": "$unit.label.barometer", 
    "value": "$current.barometer.nolabel("%d","N/A")"},
"windSpeed": {"unit_label": "$unit.label.windSpeed", 
     "value": "$current.windSpeed.nolabel("%d","N/A")"}, 
"windGust": {"unit_label": "$unit.label.windSpeed", 
     "value": "$current.windGust.nolabel("%d","N/A")"}
}
