<?xml version="1.0" encoding="UTF-8"?>

#set $ts = time.time()

<weewx timestamp="$ts"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="weewxforecast.xsd">

#include '/home/weewx/live/skins/Bytexml/forecast.inc'

</weewx>